@import url('https://fonts.googleapis.com/css2? family= Alegreya+SC:ital@1 & display=swap');

body {
    margin: 0;
    padding: 0;
    color: rgb(240, 186, 7);
    font-family: 'Alegreya sc';
}

.texto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nome {
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: underline;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg,rgb(0, 0, 0), rgb(0, 171, 250), rgb(0, 0, 0),  rgb(74, 74, 75) );
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: backgroundTransition 10s ease-in-out infinite;
}

.h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

.h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

.social-midia {
    margin-top: 1rem;
    display: flex;

}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 24px;
    padding: 0.5rem 2rem;
    border: 1px solid rgb(0, 0, 0) ;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s cubic-bezier(0.55, 0.25, 0.625, 0.97);
}

a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(85, 82, 82);
}

@keyframes backgroundTransition {
    0% {
        background-position: 0% 80%;
    }
    50% {
        background-position: 80% 100%;
    }
    100% {
        background-position: 0% 100%;
    }
} 